
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

#logo {
font-size: 1.5rem;
font-weight: 600;

}


header{
    width: 100%;
padding: 20px 8%;
 background-color: darkred;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
}


.navbar{
    width: 100%;
    font-size: larger ;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_lista {
    display: flex;
    list-style: none;
    gap: 80px;
    text-transform: uppercase;
}

.nav_item{
font-size: 25px;
color: rgb(0, 0, 7);
cursor: pointer;
transition: 0.3s ease;

}
.nav_item a:hover {
    background-color: aliceblue(191, 4, 190);
    color: brown(155, 153, 153);
    text-decoration: underline;
}

.home {
display: flex;
min-height: calc(100vh - 91px);
    }
    section{
    width: 100%;
    padding: 20px ;
    display: flex;
    }

    .titulo {
font-size: 4rem;
color: crimson;
 }
 